<%= link_to "Home", root_path %>
<%= link_to "Edit Profile", edit_user_path %>
<%= link_to "Create List", new_listing_path %>
<div>
<h1>Welcome!! <%=current_user.username%></h1>

	<%= image_tag(@i.thumb.url) %>
</div>

<h2>Your own Property!</h2>
 <table id='user-listings-table'>
 <th>Photos</th>
 <th>Property Name</th>
 <th>Location</th>
 <th>Price per night</th>
 <th>Remove</th>
 <th>Update</th>
<% @u.listings.each do |l| %>
	<tr id="user-listing-<%= l.id %>">
		<td>
		<% l.property_images.each do |t| %>
			<%= image_tag(t.medium.url) %>
		<%end%>
		</td>
		<td><%= l.property_name %></td>
		<td><%= l.location %></td>
		<td><%= l.pricing %></td>
		<td><%= link_to "Remove", listing_path(l.id), method: :delete, remote: true %></td>
		<td><%= link_to "Update", edit_listing_path(l.id) %></td>	
	</tr>
<%end%>
</table>

<table>
<th>Booking Number</th>
<th>Check In</th>
<th>Check Out</th>
<th>Cancel/Change</th>
	<tr>
	<% @u.reservations.each do |r| %>
			<td style="text-align :center"><%= r.id %></td>
			<td><% @startdate = r.start_date  %>
			<%= @startdate.strftime('%d %b %Y').to_date %></td>
			<td><% @enddate = r.end_date %>
			<%= @enddate.strftime('%d %b %Y').to_date %></td>
			<td><%= link_to "Cancel Booking", reservation_path(r.id), method: :delete, remote: true %>
				<%= link_to "Change Date", edit_reservation_path(r.id) %></td>
	</tr>
	<%end%>
</table>